li, h4, p, div {
  font-family: Segoe UI;
  
  
  
}

h2 {
 text-align: center;
 width: 100%;
 background:#7978782f;
 text-decoration :  underline;
 font-size:150%;
 font-family: Trebuchet MS;
 }
 
h3 {
 text-align: right;
 width: 100%;
 font-size:90%;
 font-family: Segoe UI;
 }

